

.games-container {
  gap: 20px;
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  justify-items: center;
  padding: 80px;
  width: 100%;
  box-sizing: border-box;
}

.game-card {
  background-color: #cecef1;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  width: 250px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.game-card h3 {
  margin-bottom: 10px;
  color: #161818;
}

.game-card p {
  color: #48456d;
  font-size: 0.95rem;
}

.game-card a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #1305da;
  font-weight: bold;
}
.titulo1 {
  text-align: center;
  color: #333;
  margin-top: 60px;
}
.app-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #8dacda;
  min-height: 100vh;
}

.Header {
  background-color: #4a90e2;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.titulo1 p {
  font-size: 1.2rem;
  color: #010c18;
  background-color: #eaeef3;
}

.seccion {
  padding: 20px;
  color: #942068;
  text-align: center;
  font-size: 1.1rem;
  background-color: #acc2df;
}

.menu {
  background-color: #354f7b;
  padding: 10px 0;
  margin-top: 20px;
} 





.menu-nav {
  background-color: #354f7b;     
  display: flex;
  justify-content: center;
  gap: 40px;                    
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.menu-link {
  color: #ffffff;
  font-size: 1.15rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.menu-link:hover {
  color: #f7d774;               
  transform: translateY(-2px);   
}


.categoria-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.categoria-titulo {
  text-align: center;
  font-size: 2rem;
  color: #222;
  margin-bottom: 30px;
}

.game-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.game-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}